<nav>
    <label class="logo">Chicks Gold</label>
    <ul class="items-left">
        <li>
            <label>CURRENCY</label>
            <select>
            </select>
        </li>
        <li><label>ITEMS</label>
            <select>
            </select>
        </li>
        <li><label>ACCOUNTS</label>
            <select>
            </select>
        </li>
        <li><label>SERVICES</label>
            <select>
            </select>
        </li>
        <li><label>SWAP</label>
            <select>
            </select>
        </li>
        <li><label>SELL</label>
            <select>
            </select>
        </li>
    </ul>

    <ul class="items-rigth">
        <li><label>USD</label>
            <select>
            </select>
        </li>
        <li>CART (5)</li>
        <li><button class="button-sign">SIGN IN</button> </li>
    </ul>
</nav>